.container-1 {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction:column;*/
}

.box-1 {
    flex: 0 0 425px; /* set box size */
    order: 2;
}

.box-2 {
    flex: 0 0 425px; /* set box size */
    order: 1;
}

.box-1, .box-2 {
    border: 1px #ccc solid;
    padding: 10px;
}

.que.shortmath .visual-math-input-wrapper {
    margin: 0;
}

.delete-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-box {
    display: flex;
    align-items: center;
}

.editor, .test {
    display: flex;
    flex-direction: column;
}

.editor-box {
    display: flex;
    align-items: center;
}

.editor-box div:nth-child(1) {
    min-width: 95px; /* set label size */
    display: flex;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delete-icon {
    padding: 0.3em 25px 0.3em 25px;
    background-color: red;
    margin-top: 0.6em;
}

.que .ablock {
    margin: .3em 0 .3em 0;
}
