.container-1 {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction:column;*/
}

.box-1 {
    order: 2;
}

.box-2 {
    order: 1;
}

.box-1, .box-2 {
    /* set box size */
    flex: 0 0 425px;
    margin: 10px;
    border: 1px #ccc solid;
    padding: 10px;
}

.que.shortmath .visual-math-input-wrapper {
    margin: 0;
}

.delete-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test, .templateName {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor {
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input-box div:nth-child(1) {
    /*!* set label size *!
    min-width: 95px; */
    display: flex;
    justify-content: flex-end;
}

.button, .modeCheck {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delete-icon {
    padding: 0.3em 25px 0.3em 25px;
    background-color: red;
    margin-top: 0.6em;
}

.que .ablock {
    margin: .3em 0 .3em 0;
}

.form-control {
    border: 1px solid #bbb;
}

.overlay {
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
