.container-1 {
    display:flex;
    flex-wrap:wrap;
    /*flex-direction:column;*/
}

.box-1 {
    flex:1;
    order:2;
}

.box-2 {
    flex:1;
    order:1;
}

.box-1, .box-2 {
    border:1px #ccc solid;
    padding:10px;
}

.que.shortmath .visual-math-input-wrapper {
    margin: 0;
}

.button {
    display:flex;
    justify-content: flex-end;
}

.button div {
    padding:2px;
}