{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_shortmath/editor

    Example context (json):
    {
            "messageClass" : "message",
            "messageValue" : "Template removed!"
    }
}}

<div class="overlay" id="overlay-div"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-start p-0 mb-2">
            <input type="button" name="{{addTemplatesButtonName}}" id="{{addTemplatesButtonId}}"
                   class="{{addTemplatesButtonClass}}" value="{{# str}} add_templates, qtype_shortmath {{/ str}}">
        </div>
    </div>
    <div class="row">
        {{#templates}}
            <div class="col template-box d-flex align-items-center p-1 mr-2 mb-2">
                <div class="{{messageClass}}" style="display: none;">
                    <b>{{messageValue}}</b>
                </div>
                <div class="template-name-div mr-auto overflow-hidden" title="{{name}}">
                    {{name}}
                </div>
                <div class="d-flex align-items-center ml-auto">
                    <div class="px-1">
                        <a href="#" title="Edit Template" id="edit-template-{{id}}" class="edit-template">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="px-1">
                        <a href="#" title="Delete Template" id="delete-template-{{id}}" class="delete-template">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </div>
                <form>
                    <input type="hidden" name="templateId" value="{{id}}"/>
                    <input type="hidden" name="templateName" value="{{name}}"/>
                    <input type="hidden" name="templateData" value="{{template}}"/>
                </form>
            </div>
        {{/templates}}
    </div>
    <div class="row">
        <div class="col d-flex align-items-center justify-content-start p-0">
            <input type="button" name="{{backButtonName}}" id="{{backButtonId}}"
                   class="{{backButtonClass}}" value="{{backButtonValue}}">
        </div>
    </div>
</div>
{{#js}}
    require(['jquery', 'qtype_shortmath/editor-manager'], function($, EditorManager) {
        EditorManager.initialize();
    });
{{/js}}
